################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping App/.vs/Internet Coffee Management System/FileContentIndex/75d5ff99-c791-4683-a9fc-c2037078dabf.vsidx
/Shopping App/.vs/Internet Coffee Management System/FileContentIndex/9c1a211f-92c7-4de8-9fa7-00a56c646cc5.vsidx
