################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping App/.vs/Internet Coffee Management System/FileContentIndex/75d5ff99-c791-4683-a9fc-c2037078dabf.vsidx
/Shopping App/.vs/Internet Coffee Management System/FileContentIndex/9c1a211f-92c7-4de8-9fa7-00a56c646cc5.vsidx
/Shopping App/.vs/Internet Coffee Management System/FileContentIndex/37418f89-1c19-4dab-b2dd-8b3523d560e0.vsidx
/Shopping App/.vs/Internet Coffee Management System/FileContentIndex/e3b9b5d4-3469-4da0-849f-637b844a2036.vsidx
/Shopping App/.vs/Internet Coffee Management System/FileContentIndex/3b92c80a-514a-42ee-b3d9-8d0afd70a86c.vsidx
